@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@300;400;700&family=Poppins:wght@400;600&display=swap');

// Start Assets color
$color_background:#F7FAFD;
$color_black:#211B3D;
$color_white:#FFFFFF;
$color_primary:#6644FF;
$color-black-blur:#5B5575;
// End Assets Color

*{
  padding: 0px;
  margin: 0px;
}

.nav-bar{
  background: $color_background;

  .container-fluid{
    margin-top: 30px;
    .navbar-brand{
      width: 180px;
      height: 60px;
    }

    ul{
      .nav-item{
        padding-right: 30px;
        a{
          font-family: 'Poppins', sans-serif;
          font-size: 16px;
          color: $color_black;
        }
        .active{
          font-family: 'Poppins', sans-serif;
          font-weight: 600;
          font-size: 16px;
          color: $color_primary;
        }
      }
    }

    .request{
      font-size: 20px;
      line-height: auto;
      color: $color_white;
      text-align: center;
      width: 200px;
      height: 62px;
      background: $color_primary;
      border-radius: 50px;
      
    }
  }
}

// Untuk Css content bawah navbar
.content-bawah{
  background: $color_background;
  h4{
    color: #31B380;
    font-size: 16px;
  }
  h2{
    line-height: auto ;
    margin-top: 20px;
    color: $color_black;
    font-size: 40px;
  }
  p{
    margin-top: 20px;
    color: $color-black-blur;
    font-size: 16px;
  }

  .align-self-center{
    margin-left: 100px;
    a{
      margin-top: 20px;
      border-radius: 50px;
      padding: 16px 24px 16px 24px;
    }
    
    #btn-1{
      background: $color_primary;
      color: $color_white;
      width: 180px;
      height: 56px;
      margin-right: 16px;
      border: solid 1px $color_primary;
    }

    #btn-1:hover{
      background: $color_white;
      color: $color_primary;
    }

    #btn-2{
      background: $color_white;
      color: $color_black;
      border: solid 1px $color_primary;
      width: 166px;
      height: 56px;
    }

    #btn-2:hover{
      background: $color_primary;
      color: $color_white;
    }
  }

}

// Our service
.our-services{
  #item-our-service{
    margin-top: 66px;
    font-size: 16px;
    color: #31B380;
    line-height: auto;
    padding: 16px 30px 16px 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: auto;
  }

  h2{
    font-size: 30px;
    color: $color_black;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
  }

  .card-1{
    border: none;
  }

  .card-2{
    border: 2px solid $color_primary;
  }

  .card-3{
    border: none;
  }

  .card{
    margin-top: 70px;
    margin-bottom: 70px;
    width: 407px;
    height: 333px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    img{
      margin: 30px 287px 20px 20px;
      width: 100px;
      height: 100px;
    }

    h5{
      font-size: 26px;
      line-height: auto;
      margin: 0px 0px 30px 20px;
      color: $color_black;
    }

    p{
      font-size: 16px;
      color: $color-black-blur;
      line-height: 26px;
      margin: 0px 58px 30px 20px;
    }
  }
}

// Start Our Work Flow
.our-work-flow{
  margin-top: 100px;
  .align-self-center{
    h5{
      font-size: 16px;
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
      color: #31B380;
    }
    h2{
      margin-top: 12px;
      font-size: 30px;
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
      color: $color_black;
      text-align: left;
      line-height: auto;
      width: 296px;
    }

    .accordion{
      width: 408px;
      margin-top: 30px;

      details summary::-webkit-details-marker { display: none; }
      summary::before {
        font-family: "Hiragino Mincho ProN", "Open Sans", sans-serif;
        content: "▶";
        position: absolute;
        top: 1rem;
        left: 0.8rem;
        transform: rotate(0);
        transform-origin: center;
        transition: 0.2s transform ease;
      }
      details[open] > summary:before {
        transform: rotate(90deg);
        transition: 0.45s transform ease;
      }

      /* # The Sliding Summary # */
      details { overflow: hidden; }
      details summary {
        position: relative;
        z-index: 10;
      }
      @keyframes details-show {
        from {
          margin-bottom: -80%;
          opacity: 0;
          transform: translateY(-100%);
        }
      }
      details > *:not(summary) {
        animation: details-show 500ms ease-in-out;
        position: relative;
        z-index: 1;
        transition: all 0.3s ease-in-out;
        color: transparent;
        overflow: hidden;
      }
      details[open] > *:not(summary) { color: inherit; }


      /* # Style 4 # */
      details.style4 summary {
        padding-right: 2.2rem;
        padding-left: 1rem;
        border-radius: 8px;
      }
      details.style4 summary::before {
        content: "×";
        color: #000000;
        font-size: 2rem;
        line-height: 1rem;
        transform: rotate(-45deg);
        top: 1.2rem;
        left: unset;
        right: 0.6rem;
      }
      details[open].style4 > summary:before {
        transform: rotate(90deg);
        color: #F00 !important;
        transition: color ease 2s, transform ease 1s;
      }

      /* # Just Some Pretty Styles # */
      body { font-family: "Open Sans", sans-serif; padding-bottom: 400px; }
      img { max-width: 100%; }
      p { margin: 0; padding-bottom: 10px; }
      p:last-child { padding: 0; }
      details {
        #number{
          color: red;
        }

        max-width: 500px;
        box-sizing: border-box;
        margin-top: 5px;
        background: white;
        padding-bottom: 16px;
      }
      summary {
        border: 4px solid transparent;
        outline: none;
        padding: 1rem;
        display: block;
        background: #F7FAFC;
        color: #000000;
        font-size: 22px;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        padding-left: 2.2rem;
        position: relative;
        cursor: pointer;

        .span-1{
          font-family: 'Poppins', sans-serif;
          font-weight: 600;
          font-size: 22px;
          padding: 15px 25px 15px 25px;
          color: #FFFFFF;
          border-radius: 29px;
          background: #9CCAFF;
          margin: 12px 16px 12px 6px;
        }

        .span-2{
          font-family: 'Poppins', sans-serif;
          font-weight: 600;
          font-size: 22px;
          padding: 14px 24px 14px 24px;
          color: #FFFFFF;
          border-radius: 29px;
          background: #A6F4A0;
          margin: 12px 16px 12px 6px;
        }

        .span-3{
          font-family: 'Poppins', sans-serif;
          font-weight: 600;
          font-size: 22px;
          padding: 14px 24px 14px 24px;
          color: #FFFFFF;
          border-radius: 29px;
          background: #A4CCFB;
          margin: 12px 16px 12px 6px;
        }

        .span-4{
          font-family: 'Poppins', sans-serif;
          font-weight: 600;
          font-size: 22px;
          padding: 14px 24px 14px 24px;
          color: #FFFFFF;
          border-radius: 29px;
          background: #A6F4A0;
          margin: 12px 16px 12px 6px;
        }

        .span-5{
          font-family: 'Poppins', sans-serif;
          font-weight: 600;
          font-size: 22px;
          padding: 14px 24px 14px 24px;
          color: #FFFFFF;
          border-radius: 29px;
          background: #A4CCFB;
          margin: 12px 16px 12px 6px;
        }
      }
      details[open] summary,
      summary:hover {
        color: #000000;
        background: #F7FAFC;
      }
      summary:hover strong,
      details[open] summary strong,
      summary:hover::before,
      details[open] summary::before {
        color: #000000;
      }
      .content {
        padding: 10px;
        border: none;
        border-top: none;
      }
    }
  }
}


// Start key benefit
.key-benefit{
  background: #F7FAFD;
  margin-top: 100px;
  .col{
    margin-top: 52px;
  }

  .text-title{
    margin-top: 72px;
    p{
      color: #31B380;
      font-size: 16px;
      font-family: 'Poppins', sans-serif;
      font-weight:  600;
      line-height: auto;
      margin-bottom: 12px;
    }

    h4{
      color: #211B3D;
      font-size: 30px;
      font-family: 'Poppins', sans-serif;
      font-weight:  600;
      line-height: auto;
    }

    .list{
      margin-top: 56px;
      p{
        margin-bottom: 22px;
        color: #000000;
        font-size: 22px;
        font-family: 'Poppins', sans-serif;
        font-weight:  600;
        img{
          margin-right: 30px;
        }
      }
    }
  }
}



// Start Style Our Service
.our-service{
  .row-our-service{
    margin-top: 100px;

    .col-our-project{
      p{
        font-size: 20px;
        font-family: 'Poppins', sans-serif;
        font-weight:  600;
        color: #31B380;
        line-height: auto;
      }

      h4{
        font-size: 30px;
        font-family: 'Poppins', sans-serif;
        font-weight:  600;
        color: #211B3D;
        line-height: auto;
      }
    }

    .align-self-center{
      p{
        color: #6644FF;
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
        font-weight:  600;
        background-color: #F7FAFD;
        padding: 16px 24px 16px 24px;
        text-align: center;
        border-radius: 50px;
      }
    }
  }

  .row-product{
    .img-gambar{
      margin-bottom: 30px;
      padding: 30px 30px 40px 30px;
      background-color: #FFFFFF;
      border-radius: 25px;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 6px 0px 6px;
    }


    margin-top: 100px;
    h5{
      color: #211B3D;
      font-size: 22px;
      font-family: 'Poppins', sans-serif;
      font-weight:  600;
      margin-top: 20px;
    }

    p{
      color: #000000;
      font-size: 15px;
      line-height: auto;
      font-family: 'Poppins', sans-serif;
      font-weight:  400;
      margin-top: 12px;
    }
  }
}


// Satar Pricing Plane
.pricing-plane{
  text-align: center;
  .row{
    margin-top: 100px;
  }
  .text-plane{
    text-align: center;
    h5{
      font-size: 16px;
      font-family: 'Poppins', sans-serif;
      font-weight:  600;
      color: #31B380;
      margin-bottom: 2px;
    }

    h4{
      font-size: 30px;
      font-family: 'Poppins', sans-serif;
      font-weight:  600;
      color: #211B3D;
      line-height: 155.5%;
    }

    p{
      font-size: 14px;
      font-family: 'Poppins', sans-serif;
      font-weight:  400;
      color: #5B5575;
    }
  }
}